/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo img{
    width: 50px;
    border: 5px solid white;
    border-radius: 30px
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}
.nav-list{
     width: 50%;
     /* background-color: rgb(229, 162, 145); */
     display: flex;
     align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 28px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: "Audiowide", sans-serif;
}
.nav-list li a:hover{
    color:black;
}
.rightnav{
    /* background-color: cyan; */
    width: 50%;
    text-align: right;
    padding: 0px 23px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('bg2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 71%;
    margin: auto;
    height: 70%;
}
.logo{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondhalf img{
     width: 64%;
     border-radius: 70px;
}
.firsthalf{
   width: 75%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.secondhalf{
   width: 40%;
}
.text-big{
    font-size: 41px;
    font-family: 'Ubuntu', sans-serif;
}
.text-small{
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    padding: 8px 20px;
    margin: 4px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 13px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
.btn-sm{
    padding: 3px 10px;
    vertical-align: middle;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
.btn-dark{
    color: black;
    border: 2px solid grey;
    font-family: 'Ubuntu', sans-serif;
}
#but:hover{
  color: grey;
}
#search{
    padding: 6px;
    border-radius: 10px;
}
.Section{
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: centers;
    max-width: 1030px;
    margin: auto;
    margin-top: 34px;
    font-family: 'Ubuntu', sans-serif;
}
.thumbnail img{
    width: 236px;
    margin-top: 40px;
    height: 219px;
    padding: 10px
}
.paras{
    padding: 0 7px;
}
.section-Left{
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: centers;
    max-width: 1030px;
    margin: auto;
    margin-top: 34px;
    flex-direction: row-reverse;
        font-family: 'Ubuntu', sans-serif;
}
.sectionTag{
    padding: 16px 0px;
}
.contact{
    height: 90vh;
    background-color: #f7f7f2;
        font-family: 'Ubuntu', sans-serif;
}
.text-center{
    text-align: center;
    padding: 18px;
        font-family: 'Ubuntu', sans-serif;
    font-size: 35px
}
.form{
    max-width: 1200px;
    margin: 16px auto;
}
.form-input{
    margin: 14px 4px;
    padding: 5px 30px;
    width: 87%;
    font-size: 17px;
    border: 2px solid grey;
}
.text-footer{
    text-align: center;
    padding: 30px 0px;
        font-family: 'Ubuntu', sans-serif;   
}

@media only screen and (max-width:1088px){ 
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    #search{
     width: 100%;
     margin: auto;
    }
    .rightnav{
      text-align: center;  
    }
}